.additions-options {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        width: 50%;
        align-content: space-between;

        h3 {
            padding-top: 10%;
        }

        p {
            padding: 5% 0;
        }
        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
    img {
            width: 80%;
            height: auto;
    }



    .options {
        text-align: right;

    }

    .left-image {
        position: relative;
        top: -25px;
        box-shadow: 25px 25px #fe6f19;
    }

    .right-image {
        box-shadow: -25px 25px #fe6f19;
    }
}


