.index-blog {

    background-color: #fae5ff;

    div {
        width: 100%;
        height:auto;
        background-color: #fae5ff;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;     
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    li {
        width: 50%;
        padding: 2%;
    }   
    h3 {
        padding: 5% 0;
    }
}