.home {
    background-image: url(/Users/devindunn/websites/juno/projects/project-1/assets/header-image.jpg);
    height: 80vh;;
}

.blog {
    background-image: url(/Users/devindunn/websites/juno/projects/project-1/assets/blog-header.jpg);
    height: 60vh;
}

.contact {
    background-image: url(/Users/devindunn/websites/juno/projects/project-1/assets/contact-image.jpg);
    height: 60vh;
}

header {
    padding: 45px 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0;
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 10px;
    }
    nav {
        order: 1;
        flex-basis: calc((45%) - 80px);
        // width: 35%;
    }

    span {
        display: block;
    }
    
    a:hover,
    a:focus {
        color: #fff;
        background-color: #4C0341;
        padding: 0 10px;
        margin: 0 -10px;
    }
}

.floating-header-image {
    height: 110%;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -30%;
}

.floating-blog-image {
    z-index: 10;
    position: relative;
    display: block;
    left: 40%;
    top: -50px;
}