header {
    min-height: 100vh;
    padding: 45px 0;
    background-image: url(/Users/devindunn/websites/juno/projects/project-1/assets/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 10px;
    }
    nav {
        order: 1;
        // flex-basis: calc((40%) - 80px);
        width: 35%;
        
    }

    span {
        display: block;
    }
    
    a:hover,
    a:focus {
        color: #fff;
        background-color: #4C0341;
        padding: 0 10px;
        margin: 0 -10px;
    }
}

