.top-logo {
    font-size: 3.58rem;
    font-family: 'Pompiere', cursive;
    color: #0d0d0d;
}

h1 {
    font-size: 11rem;
    font-family: 'Pompiere', cursive;
    color: #4C0341;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
}
}

a {
    text-decoration: none;
    color: #0d0d0d;
}
