.under-sea {
    background-color: #fae5ff;
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 70%;
        text-align: center;
        div {
            padding-bottom: 10%;
        }
    }
    h2 {
        padding-top: 10%;
    }
    p { 
        padding: 5% 0;
    }
}